@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #888888; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.tiny-loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #888888; /* Blue */
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: spin 2s linear infinite;
}

.mini-loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #888888;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.dark-loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #888888; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

html {
  overflow-y:scroll !important;
  padding-right: 0px !important;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

.swal2-shown {     
    padding-right: 0px !important; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
