@tailwind base;
@tailwind components;
@tailwind utilities;

.article > div > div>  table th {
    @apply border border-gray-300;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
    font-weight: 900;
}
.article > div > div > table td {
    @apply border border-gray-300;
    padding: 0.3rem;
}

.article > div > div > table {
    @apply w-full
}

.reactions-bar-selector {
    z-index: 999;
}

.reactions-bar-selector >div> div >div> div:nth-of-type(1) {
    display: none !important;
}

.reactions-bar-selector >div> div >div> div:nth-of-type(2) {
    /* @apply px-2 !important; */
}

.comment-html a {
    @apply text-blue-500;
}

.article {
    @apply p-1
}

.article-div {
    @apply p-1;
    @apply text-lg
}

.article-blade-div > pre  {
    @apply bg-black;
    @apply text-white;
    @apply mx-2;
    @apply my-2;
    @apply p-1;
    @apply rounded-md;
}

.article > div > pre > div > div.copy-paste-div-code {
    @apply border border-gray-300;
    @apply rounded-md;
    @apply m-2;
    @apply p-1;
    @apply text-white;
    @apply bg-black
}

.article > div.server-side-rendered-article > pre {
    @apply border border-gray-300;
    @apply rounded-md;
    @apply m-2;
    @apply p-1;
    @apply text-white;
    @apply bg-black
}

.article > div> div > p > code {
    @apply bg-gray-200;
    @apply p-0.5;
    @apply rounded-md;
}

.article > div> div > p > img {
    /* center image horizontally */
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    @apply shadow-md;
}

.article > div > p > img {
    /* center image horizontally */
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    @apply shadow-md;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #888888; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.tiny-loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #888888; /* Blue */
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: spin 2s linear infinite;
}

.mini-loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #888888;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.dark-loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #888888; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

html {
    overflow-y: scroll !important;
    padding-right: 0px !important;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

.swal2-shown {
    padding-right: 0px !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

:root {
    --color-bg-1: #f2f2f9;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}


@keyframes fade-shadow {
    from { text-shadow: 0 0 10px rgb(0, 0, 167); }
    to { text-shadow: 0 0 10px rgba(0,0,167,0); }
  }

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }